# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciKit-Learn
4. SciPy
5. Pandas
6. MatplotlibyTorch.

|Data Science Tools|
| --- |
| Apache Spark |
| Julia |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<b>Objectives:</b>
- List of popular languages for Data Science
- List of popular libraries used by Data Scientists
- Some common data science Tools
- Using headers and ordered and unordered lists in markdowns
- Peforming sample arithemetic operations

## Author :
Saket Lala